<!DOCTYPE html>
<html>
  <head>
    <title>MusicMania</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="all" href="/<%= (@assets_container || $assets_container)['app']['css'] %>" data-turbolinks-track="true">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id='current_user_id' hidden data-current-user-id="<%= current_user&.id&.to_s %>">
    </div>
    <%= yield %>
  </body>
  <% ['common', 'vendor', 'polyfills', 'app'].each do |js_libs| %>
    <%= path_to_assets(js_libs) %>
  <% end %>
</html>
